body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
}

.container {
    width: 100%;
    max-width: 720px;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

input, 
select {
    outline: none;
    border: 1px solid #e5e5e5;
}

input:focus,
select:focus {
    border: 1px solid #1d1d1d;
}

.text-field {
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 20px;
    outline: none;
    overflow: scroll;
    max-height: 400px;
}

.text-field:focus {
    border: 1px solid #333;
}

.options-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
}

.options-bar .option-group {
    margin: 1rem 1rem 1rem 0;
}

.options-bar .option {
    cursor: pointer;
    outline: none;
    background: none;
    border: 1px solid #e5e5e5;
    padding: 5px 7px;
    margin-right: 5px;
}

.options-bar .option.active {
    border: 1px solid #1d1d1d;
}

.options-bar input {
    width: 50px;
}

/* Button with style */
.wrapperNotVisible {
    background: transparent;
    border: none;
    outline: none;
}

/* Font Color */

.fontColorLabel input{
    display: none;
}

.fontColorLabel {
    cursor: pointer;
    padding: 2px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000;
}