:root{
  --color-white: #fff;
  --color-purple: #c19bde;
  --color-yellow: #ffffa8;
  --color-brown: #a87856;
  --color-green: #97db97;
  --color-darkgreen: #54a854;
  --color-pink: #db84c8;
  --color-red: #fcb3b3;
  --color-lightblue: lightblue;
  --color-darkblue: #7979d1;
  --color-black: 000;
  --bg-main: #666;
  --bg-secundary: #ffb;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	min-height: calc(100vh-3em);
	min-width: calc(100vw-3em);
	background-color: var(--bg-main);
  margin: 3em;
  position: relative;
  overflow: auto;
}

ul, .note-container{
	list-style: none;
  transform-origin: top;
}

ul .note-container .note{
  text-decoration: none;
  position: relative;
  color: var(--color-black);
  background: var(--bg-secundary);
  display:block;
  height:auto;
  width:12em;
  word-wrap: break-word;
  padding:1.5em;
  border-radius: 20px 0;
  font-size:1.2em;

   /* Firefox */
  -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

  transform: scale(0.98);
  transition: all 0.3s;
}

ul .note-container .note:hover{
  transform: scale(1);
  opacity: 1;
  filter: initial;
}

ul .note-container a h2{
  font-size: 1.3em;
}

ul .note-container{
  margin: 1em;
  float: left;
  position: absolute;
}

/* Add item related stuff */

.add-item{
  width:200px;
  background: var(--bg-secundary);
  margin-left: 3em;
  border-radius: 20px 0;

}

.add-item *{
  border:none;
  outline:none;
}

.add-item input{
  width:100%;
  padding:10px;
  text-align:center;
  background-color: transparent;
  font-size:1.3em;
  color:#1d1d1d;
}

.add-item input::placeholder, textarea::placeholder{
  color:grey;
}

.add-item textarea{
  width:100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 200px;
  height: 150px;
  padding:10px;
  background-color: transparent;

}
.add-item button{
  width:100%;
  height: 30px;
  background-color: transparent;
  cursor:pointer;
  border-radius:20px 0;
}

.add-item button:hover{
  background-color: #ffc;
}

/* Delete btn symbol in card */
.delete-btn{
  color:red;
  border:none;
  background-color: transparent;
  cursor:pointer;
  outline: none;
  font-size:0.8em;
  position: absolute;
  right:1em;
  top:.5em;
  z-index:100;
}

/*  Copy btn symbol in card  */
.copy-btn{
  color:blue;
  border:none;
  background-color: transparent;
  cursor:pointer;
  outline: none;
  font-size:0.8em;
  position: absolute;
  left:1em;
  top:.5em;
  height:20px;
}

.copy-btn img{
  height:100%;
  opacity:0.8;
}

.link-btn {
  height:20px;
  border:none;
  background:none;
  cursor:pointer;
  position: absolute;
  top:.5em;
  left:3em;
  opacity:0.8;
  outline: none;
}
.link-btn img{
  height:100%
}

/* Input that auxiliate the copy and paste in JS */
#copy-aux{
  position: absolute;
  left:-4000px;
}

/*  Color select options */
#color-select{
  display: flex;
  justify-content: space-around;
  padding:10px 0;
  flex-wrap:wrap;
}

#color-select label.active{
  border:1px solid black;
}

#color-select label{
  display:inline-block;
  width:20px;
  height:20px;
  margin:5px 10px;
  border-radius: 50%;
  background:red;
  cursor:pointer;
  border:1px solid grey;
}

/* Background changes (color-select) */

#color-select label.lightblue{
  background:var(--color-lightblue);
}

#color-select label.red{
  background:var(--color-red);
}
#color-select label.yellow {
  background:var(--color-yellow);
}

#color-select label.green {
  background:var(--color-green);
}
#color-select label.purple{
  background:var(--color-purple);
}

#color-select label.pink {
  background:var(--color-pink);
}

#color-select label.white{
  background:var(--color-white);
}

#color-select label.brown{
  background:var(--color-brown);
}

#color-select label.darkblue{
  background:var(--color-darkblue);
}

#color-select label.darkgreen{
  background:var(--color-darkgreen);
}

#color-select label input{
  visibility: hidden;
}

/* Background changes (card) */
ul li.yellow .note{
  background: var(--color-yellow);
}
ul li.green .note{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  top:5px;
  background:var(--color-green);
}
ul li.purple .note{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  top:-5px;
  background:var(--color-purple);
}
ul li.lightblue .note{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  top:-10px;
  background:var(--color-lightblue);
}

ul li.red .note{
  background: var(--color-red);
  -o-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  top: 10px;
}

ul li.brown .note{
  background: var(--color-brown);
  -o-transform:rotate(2deg);
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  opacity:0.8;
}

ul li.white .note{
  background: var(--color-white);
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
}

ul li.darkblue .note{
  background: var(--color-darkblue);
  -o-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
}

ul li.pink .note{
  background: var(--color-pink);
  filter:grayscale(50%)
}

ul li.darkgreen .note{
  background: var(--color-darkgreen);
}

.hide {
  visibility: hidden;
  display:none;
}

