* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    font-family: "open-sans", Arial, sans-serif;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.3em;
}

.container {
    margin-top: 10rem;
    width: 590px;
}

.output {
    width: 100%;
    border: 1px solid lightgrey;
    height: 72px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.output *{
    margin: auto;
    width:98%;
}
.output__prev-operation {
    height: 40.75%;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: grey;
    overflow: hidden;
    white-space: nowrap;
}

.output__current-operation {
    height: 53.25%;
    line-height: 100%;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.8rem;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.output__current-operation::after{
    content: attr(data-parenthesis);
    position: absolute;
    color: black;
    height: 100%;
    font-size: 1.8rem;
    line-height: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: .5;

}

.calculator-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator__btn {
    width: 13.56%;
    margin-bottom: 5px;
    height: 32px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background: rgba(215,215, 215, 0.9);
    font-size: 1rem;
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator__btn:hover {
    opacity: 0.8;
}

.calculator__btn--simple {
    background: rgba(230,230,230, 0.9)
}

.calculator__btn--double{
    width: calc(27.12% + 5px);   
}

.calculator__btn--result {
    background: rgb(87, 87, 230);
    color: white;
}

.calculator__btn--bold {
    font-weight: bold;
}

.less-opacity {
    opacity: 0.5;
}